:root {
  --body-background-color: #3e3d39;
  --framing-color: #6d6e6a;
  --scroll-thumb-color: #555652;
  --scroll-track-color: #383934;
  --text-background-color: #282923;
  --text-color: #f8f8f2;
  --textbox-background-color: #282900;
}

/* Chrome scrollbar styling below */

::-webkit-scrollbar {
  /* width of the entire scrollbar */
  width: 12px;
}

::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: var(--scroll-track-color);
}

::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: var(--scroll-thumb-color);
}

body {
  background-color: var(--body-background-color);
}

.lotsOfText {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--text-background-color);
  color: var(--text-color);
}

.adventureTextField {
  font-size: large;
  width: 40em;
  height: 20em;
  font-family: monospace;
  outline: 0px;
  word-wrap: break-word;
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
}

#adventureTextDivider {
  background-color: var(--framing-color);
  height: 0.75em;
}

#adventureTextOutsideBorder {
  background-color: var(--framing-color);
  padding: 0.75em;
  float: left;
}

#textBox {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: monospace;
  word-wrap: break-word;
  font-size: large;
  background-color: var(--textbox-background-color);
  color: var(--text-color);
  outline: none;
}

#roomField {
  animation: blinkingText 1.2s;
}

@keyframes blinkingText {
  0% {
    color: transparent;
  }
  100% {
    color: var(--text-color);
  }
}