:root {
  --body-background-color: #3c3c3c;
  --framing-color: #6c6c6c;
  --room-field-bg-color: #263026;
  --scroll-thumb-color: #545454;
  --scroll-track-color: #373737;
  --text-background-color: #262626;
  --text-color: #f6f6f6;
  --text-historical-color: #a0a0a0;
  --textbox-background-color: #262640;
  --border-width: 0.75em;
  --box-height: 36em;
  --box-width: 35em;
}

/* Chrome scrollbar styling below */

::-webkit-scrollbar {
  /* width of the entire scrollbar */
  width: 12px;
}

::-webkit-scrollbar-track {
  /* color of the tracking area */
  background: var(--scroll-track-color);
}

::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: var(--scroll-thumb-color);
}

body {
  margin: 0vh;
  background-color: var(--body-background-color);
}

.flex-container {
  display: flex;
  background-color: var(--framing-color);
  flex-direction: column;
  padding: var(--border-width);
  height: calc(100vh - 2 * var(--border-width));
  max-height: var(--box-height);
  max-width: var(--box-width);
}

.stretchy {
  flex-grow: 1;
  background-color: #f1f1f1;
  /* font-size: large; */
  height: 100em;
  font-family: monospace;
  outline: 0px;
  word-wrap: break-word;
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
  white-space: pre-wrap;
  overflow-y: auto;
  background-color: var(--text-background-color);
  color: var(--text-color);
  overflow-wrap: break-word;
}

#historicalText {
  color: var(--text-historical-color);
}

.divider {
  background-color: var(--framing-color);
  height: var(--border-width);
  flex-shrink: 0;
}

#textBox {
  flex-grow: 0;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: monospace;
  word-wrap: break-word;
  /* font-size: large; */
  background-color: var(--textbox-background-color);
  color: var(--text-color);
  outline: none;
}

#roomField {
  animation: blinkingText 1.2s;
  background-color: var(--room-field-bg-color);
}

@keyframes blinkingText {
  0% {
    color: transparent;
  }
  100% {
    color: var(--text-color);
  }
}